<div class="container welcome-container">

    <div class="row">
        <div class="col-7">
            <p class="welcome-message">Welcome to</p><br>
            <p class="welcome-message">Course Reviews.</p>
        </div>
      <div class="col-5">
          <form class="form-signin">
            <div class="form-group">
                <label for="inputEmail">Username</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <small id="emailHelp" class="form-text text-white">Use at least one letter, one numeral, and seven characters.</small>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Signup</button>
          </form>
      </div>
    </div>

</div>