<div class="container courses-container">
    <div class="row course-box-container">
        <div class="col course-box">
            <img class="hvr-float" src="/programming.jpg">
            <span class="course-name">Advanced Programming Techniques</span><br>
            <span class="program-name">Computer Science</span>
            <span class="course-code">- COSC1211</span>
            <span class="uni-name">- RMIT</span>
        </div>
        <div class="col course-box">
            <img src="/programming.jpg">
        </div>
        <div class="col course-box">
            <img src="/programming.jpg">
        </div>
    </div>
    <div class="row course-box-container">
        <div class="col course-box">
            <img src="/programming.jpg">
            <span>Advanced Programming Techniques</span><br>
            <span>Computer Science</span>
        </div>
        <div class="col course-box">
            <img src="/programming.jpg">
        </div>
        <div class="col course-box">
            <img src="/programming.jpg">
        </div>
    </div>
</div>