body{
    background-color: rgb(232,232,232);
}

.navbar{
    background-color: #563d7c;
}

.courses-container{
    margin-top: 10%;
}

.course-box{
    margin-bottom: 50px;
}

.course-box p{
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.course-box img {
    width: 100%;
    height: auto;
}

.course-name{
    font-size: 1.1em;
}

.program-name, .course-code, .uni-name{
    color: grey;
}

.cover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/cover.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 270px;
    width: 100%;
}
